.durationSwitch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  color: hsl(213, 96%, 18%);
  /* color: $marine-blue; */
  width: 370px;
  /* // padding: 10px 40px; */
  border-radius: 2px;

  .monDur {
    /* color: hsl(213, 96%, 18%); */
    /* // color: $marine-blue; */
    font-size: 12px;
  }

  .switch {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    /* background-color: $marine-blue; */
    /* color: $white; */
    width: 30px;
    padding: 0;
    height: 16px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;

    .switchIndicator {
      background-color: hsl(0, 0%, 100%);
      /* background-color: $white; */
      margin: 2px;
      width: 0;
      padding: 6px;
      border-radius: 10px;
      transition: 0.3s ease;
      margin-right: 28px;
    }
  }

  .yrDur {
    font-size: 12px;
  }

  /* // js duration toggle */
  .durToggle {
    color: hsl(213, 96%, 18%);

    /* color: $marine-blue; */
  }

  /* // js toggle */
  .toggledSwitch {
    .switchIndicator {
      background-color: hsl(0, 0%, 100%);
      /* background-color: $white; */
      margin: 2px;
      width: 0;
      padding: 6px;
      border-radius: 10px;
      transition: 0.3s ease;
      margin-left: calc(100% - 14px);
    }
  }
}
