.container {
  display: grid;
  grid-template-columns: 255px 1fr;
  column-gap: 20px;
  /* background-color: $white; */
  /* color: $white; */
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 780px;
}

.plan {
  width: 450px;
  margin-top: 60px;
  margin-right: 40px;
  font-size: 14px;
  padding: 0 10px;
  margin: 30px 10px;
  margin-top: 60px;
  color: hsl(213, 96%, 18%);
  /* color: $marine-blue; */
  /* // margin-left: 50px; */

  /* // margin-top: 60px; */

  /* h1 {
    color: $marine-blue;
  } */

  p {
    font-size: 14px;
    color: hsl(231, 11%, 63%);
    /* color: $cool-gray; */
  }

  .btnLight {
    /* background-color: $magnolia; */
    /* color: $marine-blue; */
    background-color: hsl(217, 100%, 97%);
    color: hsl(213, 96%, 18%);
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    margin-top: 70px;
    cursor: pointer;
    margin-right: 180px;
  }

  .btnDark {
    background-color: hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    /* background-color: $marine-blue; */
    /* color: $white; */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 70px;
    cursor: pointer;
    margin-left: -10px;
  }
}

@media only screen and (max-width: 375px) {
  .btnLight {
    display: none;
  }

  .btnDark {
    display: none;
  }

  .container {
    position: relative;
    top: 15px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 350px;
    /* height: 470px; */
    margin-top: 30px;
  }

  .plan {
    width: 250px;
    margin-top: 50px;
    margin-right: 0;
    font-size: 14px;
    padding: 0 10px;
    margin: 0;
    margin: 20px 10px;
    color: hsl(213, 96%, 18%);

    /* color: $marine-blue; */

    /* // width: 280px;
    // margin-top: 30px;
    // margin-right: 0;
    // margin-left: 0;
    // margin: 20px 10px; */
    h1 {
      width: 240px;
      margin-top: 15px;
    }

    .p {
      font-size: 15px;
      line-height: 22px;
      /* // margin-bottom: 20px; */
    }

    .boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      margin: 10px 0;
      margin-bottom: 20px;

      .box {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 250px;
        padding: 20px 10px;
        padding-right: 50px;
        border-radius: 10px;

        .icons {
          margin-bottom: 0;
        }
      }
    }

    .durationSwitch {
      position: relative;
      top: 12px;
      width: 300px;
      padding-bottom: 10px;
    }

    .desk-btn {
      display: none;
    }
  }
}
