.boxes {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin: 40px 0;
}

@media only screen and (max-width: 375px) {
  .boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    margin-bottom: 20px;
  }
}
