.navbar {
  display: flex;
  background-color: black;
  color: white;
  margin: 0;
  padding: 20px;

  a {
    background-color: #333;
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
  }
}
