/* desktop style */
.mobileHeaderContainer {
  display: none;
  z-index: 1;
}

@media only screen and (max-width: 375px) {
  .mobileHeaderContainer {
    display: block;
    position: fixed;
    top: 30px;
    left: 5px;
    /* z-index: 1; */
    /* left: 85px; */
    /* top: -160px; */
    /* z-index: 3; */

    .mobBg {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 375px;
      z-index: 1;
    }

    .mobileHeader {
      display: block;
      position: relative;
      left: 85px;
      z-index: 1;

      .indicator {
        /* position: relative; */
        /* // left: 85px;
        // top: 30px;
        // z-index: 2; */
        display: flex;
        flex-direction: row;
        width: 0px;

        .pageIndicator {
          font-size: 16px;
          font-weight: bold;
          padding: 6px 10px;
          border-radius: 28px;
          margin-right: 20px;
          border: 1px solid hsl(0, 0%, 100%);
        }
      }
    }

    .pageToggle {
      font-weight: bold;
      background-color: hsl(206, 94%, 87%);
      color: hsl(213, 96%, 18%);
    }
  }
}
