.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* // column-gap: 205px; */
  margin-bottom: 10px;

  .sum {
    font-size: 12px;
    margin: 0;
  }

  .totalPrice {
    /* color: $purplish-blue; */
    color: hsl(243, 100%, 62%);
    margin: 0;
  }
}

/* Iphone XR */
@media only screen and (min-width: 376px) and (max-width: 414px) {
  .total {
    .sum {
      font-size: 18px;
    }

    .totalPrice {
      font-size: 18px;
    }
  }
}
