.boxes {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

/* Iphone SE */
@media only screen and (max-width: 375px) {
  .boxes {
    font-size: 35px;
  }
}

/* Iphone XR */
@media only screen and (min-width: 376px) and (max-width: 414px) {
  .boxes {
    column-gap: 30px;
  }
}
