.container {
  display: grid;
  grid-template-columns: 255px 1fr;
  column-gap: 40px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  /* background-color: $white; */
  /* color: $white; */
  border-radius: 10px;
  width: 780px;
}
