.container {
  display: grid;
  grid-template-columns: 255px 1fr;
  column-gap: 40px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  /* background-color: $white; */
  /* color: $white; */
  border-radius: 10px;
  width: 780px;
}

.hide {
  display: none;
}

.display {
  display: block;
}

/* Iphone SE */
@media only screen and (max-width: 375px) {
  .container {
    position: relative;
    z-index: 3;
    top: 15px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 380px;
    margin-top: 30px;

    .deskBg {
      display: none;
    }

    .sideBar {
      display: none;
      top: 0;

      .stages {
        .steps {
          display: flex;
          flex-direction: row;
          div {
            display: none;
          }
        }
      }
    }
  }
}

/* Iphone XR */
@media only screen and (min-width: 376px) and (max-width: 414px) {
  .container {
    position: relative;
    z-index: 3;
    top: 25px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 500px;
    margin-top: 30px;

    .deskBg {
      display: none;
    }

    .sideBar {
      display: none;
      top: 0;

      .stages {
        .steps {
          display: flex;
          flex-direction: row;
          div {
            display: none;
          }
        }
      }
    }
  }
}
