.summaryContainer {
  width: 370px;
  margin-top: 60px;
  margin-right: 40px;
  font-size: 14px;
  padding: 0 10px;
  margin: 30px 20px;

  margin-top: 60px;
  color: hsl(213, 96%, 18%);
  /* color: $marine-blue; */
  /* // margin: 60px 10px;
  // // margin-left: 20px; */

  .h1 {
    /* color: $marine-blue; */
    color: hsl(213, 96%, 18%);
  }

  .p {
    font-size: 14px;
    color: hsl(231, 11%, 63%);
    /* color: $cool-gray; */
    margin-bottom: 40px;
  }
}
