.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* // column-gap: 205px; */
  margin-bottom: 10px;

  .sum {
    font-size: 12px;
    margin: 0;
  }

  .totalPrice {
    /* color: $purplish-blue; */
    color: hsl(243, 100%, 62%);
    margin: 0;
  }
}
