.container {
  width: 780px;
  /* height: 0.1%; */
  display: grid;
  grid-template-columns: 32.7% 1fr;
  /* background-color: $white; */
  /* color: $white; */
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  border-radius: 2%;
  z-index: 2;
}

.sideBar {
  position: relative;
  color: black;
  margin: 10px;

  .deskBg {
    display: inline-block;
    width: 100%;
    height: 100%;
    height: 480px;

    /* display: inline-block;
     width: 100%;
     height: 480px; */
  }

  .stages {
    display: inline-block;
    position: absolute;
    left: 8%;
    padding-top: 12%;

    .steps {
      font-size: 60%;
      /* color: $white; */
      color: hsl(0, 0%, 100%);

      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px;

      .pageIndicator {
        text-decoration: none;
        font-size: 13px;
        font-size: bold;
        /* background-color: $purplish-blue; */
        /* color: $white; */
        background-color: hsl(243, 100%, 62%);
        color: hsl(0, 0%, 100%);

        padding: 5px 8px;
        /* border: 1px solid $white; */
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: 25px;
        margin-top: 10px;
        margin-right: 12px;
        vertical-align: middle;
      }

      .pageToggle {
        font-weight: bold;
        background-color: hsl(206, 94%, 87%);
        color: hsl(213, 96%, 18%);
        /* background-color: $light-blue; */
        /* color: $marine-blue; */
      }

      button {
        /* background-color: $purplish-blue; */
        /* color: $white; */
        background-color: hsl(243, 100%, 62%);
        color: hsl(0, 0%, 100%);
        padding: 4px 8px;
        /* border: 1px solid $white; */
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: 20px;
        margin-top: 2px;
        margin-right: 12px;
        vertical-align: middle;
      }

      div {
        vertical-align: middle;

        .step {
          display: block;
          color: hsl(231, 11%, 63%);
          /* color: $cool-gray; */
          margin: 2px;
          margin-top: 10px;
        }

        .stepText {
          font-weight: 700;
          display: block;
          font-size: 12px;
        }
      }
    }
  }
}

/* Iphone SE */
@media only screen and (max-width: 375px) {
  .sideBar {
    display: none;
  }
  .deskBg {
    display: none;
  }

  .container {
    position: relative;
    top: 45px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;

    .sideBar {
      display: none;
      top: 0;

      .stages {
        .steps {
          display: flex;
          flex-direction: row;

          div {
            display: none;
          }
        }
      }
    }
  }
}

/* Iphone XR */
@media only screen and (min-width: 376px) and (max-width: 414px) {
  .sideBar {
    display: none;
  }
  .deskBg {
    display: none;
  }

  .container {
    position: relative;
    top: 55px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 470px;

    .sideBar {
      display: none;
      top: 0;

      .stages {
        .steps {
          display: flex;
          flex-direction: row;

          div {
            display: none;
          }
        }
      }
    }
  }
}
